<%- include("partials/header") %>

<%- include("partials/nav") %>

<h1 class="h3 mb-3 font-weight-normal">Corporate Carpooling as a Service</h1>


<div class="container">
    <img src="https://images.unsplash.com/photo-1594291464994-b62a3d06d7c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" class="center">
    <p>© 2020 - Group6 WaCC</p>
</div>

<%- include("partials/footer") %>

