<%- include("partials/header") %>

<%- include("partials/nav") %>

<div class="container" id="title-h3">
    <h1 class="h3 mb-3 font-weight-normal">Please login here</h1>
    <form class="form-signin" action="/login" method="POST">
        <input type="text" id="inputUsername" class="form-control" name="employee_id" placeholder="employee_id">
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="password">
        <button class="btn btn-lg btn-primary btn-block">Login</button>
        <p id="trademark">© 2020 - Group6 WaCC</p>
    </form>
</div>

<%- include("partials/footer") %>