<%- include("partials/header") %>

<%- include("partials/nav") %>


<div class="container-fluid">
    <img src="https://images.unsplash.com/photo-1594291464994-b62a3d06d7c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" class="center">
    <p id="trademark">© 2020 - Group6 WaCC</p>
</div>

<%- include("partials/footer") %>

