<%- include("partials/header") %>

<%- include("partials/nav") %>

<div class="container" id="title-h3">
    <h1 class="h3 mb-3 font-weight-normal">Welcome!</h1>
    <form class="form-search" action="/search" method="GET">
        <input type="text" id="inputFrom" class="form-control" inputname="username" placeholder="From...">
        <input type="text" id="inputTo" class="form-control" name="password" placeholder="To...">
        <button class="btn btn-lg btn-primary btn-block">Search driver</button>
        <p = id="trademark">© 2020 - Group6 WaCC</p>
    </form>
</div>



<%- include("partials/footer") %>